global
        log 127.0.0.1 local1 notice
        #log loghost  local0 info
        maxconn 4096
        #chroot /usr/share/haproxy
        daemon
        user haproxy
        group haproxy
defaults
        log global
        mode http
        option httplog
        option dontlognull
        retries 3
        maxconn 2000
        contimeout 5000
        clitimeout 50000
        srvtimeout 50000

listen favorshare {{ haproxy_listen_addres }}:{{ haproxy_listen_port }}
        mode http
        balance {{ haproxy_balance_algorithm }}
        {% for host in groups['webservers'] %}
            server {{ host }} {{ hostvars[host]['ansible_ssh_host']}}:{{ nginx_listen_port }} check
        {% endfor %}
        
        