
upstream {{ item.key }} {
    {% if item.value.uwsgi_http_host and item.value.uwsgi_http_port %}
    server 127.0.0.1:{{ item.value.uwsgi_http_port }};
    {% else %}
    server unix:{{ item.value.socket }};
    {% endif %}
}


server {
    listen {{ nginx_listen_port }};
    server_name     {{ ansible_ssh_host }};

    #error_page   404              /404.html;
    #error_page   500 502 503 504  /50x.html;
    #location = /50x.html {
    #    root   /usr/share/nginx/html;
    #}

    # an HTTP header important enough to have its own Wikipedia entry:
    #   http://en.wikipedia.org/wiki/X-Forwarded-For
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    location {{ django_settings[item.key]['static_url'] }} {
        alias {{ item.value.static_files_path }};
    }

    location / {
        include         uwsgi_params;
        uwsgi_pass      {{ item.key }};
    }      
}