# this file will be completed by the deployer
[uwsgi]
chdir={{ item.value.app_dir }}
plugins=python
virtualenv={{ item.value.virtualenv }}
#env=DJANGO_SETTINGS_MODULE=favorshare.settings.local
module={{ module }}:application
master=True
pidfile={{ item.value.pidfile }}
pythonpath=%(chdir)
{% if http %}
http={{ item.value.http }}
{% else %}
socket={{ item.value.socket }}
{% endif %}
vacuum=True
processes = {{ item.value.processes }}
uid={{ service_runner_user }}
gid={{ service_runner_group }}